/* Styles pour la section À propos */
.about {
    background-color: #f8f9fa; /* Couleur de fond douce */
}

.photo-frame {
    border: 5px solid #0000FF; /* Bordure bleue autour de l'image */
    border-radius: 10px; /* Coins arrondis */
    padding: 10px; /* Espacement intérieur */
    text-align: center; /* Centre l'image dans le cadre */
}

.photo-frame img {
    width: 100%; /* Ajuste la taille de l'image pour qu'elle s'adapte au cadre */
    max-width: 30%; /* Réduit la largeur maximale de l'image */
    height: auto; /* Garde le ratio de l'image */
}

.about h2 {
    font-family: 'Prosto One', sans-serif; /* Utilisation de la police Prosto */
    color: #0000FF; /* Titre en bleu bic */
    margin-bottom: 20px; /* Espacement sous le titre */
}

.about p {
    font-family: 'Arial', sans-serif; /* Utilisation d'une autre police pour le texte */
    font-size: 1.2rem; /* Taille de police pour le texte */
}

.buttons a {
    margin-right: 10px; /* Espacement entre les boutons */
}

.custum-btn { 
    color: #0000FF;

}
.custum-btn1 { 
    background-color: #0000FF;

}

